[2020-03-22 09:17] dexhunter opened #37 "Build documentation page"
Since Git Pages is now enabled, we can build docs into html using Sphinx.

[2020-03-23 03:44] dexhunter commented on #37
![image](https://user-images.githubusercontent.com/6930518/77278342-1b11da00-6cfa-11ea-9327-30e009b1e2d3.png)
![image](https://user-images.githubusercontent.com/6930518/77278783-2ca7b180-6cfb-11ea-8c03-a6d98b50da7f.png)

A quick preview.

[2020-03-23 11:37] dexhunter opened #40 "Improve (API) documentation"
Hi all, I am trying to use Sphinx `autodoc` function/extension, so I need to improve the current documentation of `hfc`. I will update the information on this issue later.

[2020-03-23 13:59] dexhunter commented on #37
![image](https://user-images.githubusercontent.com/6930518/77324303-863acb00-6d51-11ea-8f21-b0b8ddace0cd.png)

changed the theme to `rtd`

[2020-03-23 14:10] dexhunter commented on #37
The docs have been built successfully and can be previewed [there](https://fabric-sdk-py-dev.readthedocs.io/en/latest/). I am keeping `docs/build` to let gh-pages render it as well. @yeasy @GuillaumeCisco let me know if you have any issues with it. Thank you!

P.S. @dongwangdw Could you also add the release note for v0.9.0? It is missing now. Thank you!

[2020-03-23 14:58] dexhunter opened #41 "Add release note for v0.9.0"
We have already released v0.9.0 but release note for v0.9.0 is missing.

[2020-03-24 05:44] dexhunter commented on #37
added #39

[2020-03-24 05:44] #37 closed

[2020-03-24 07:17] dexhunter opened #42 "Mentorship Program 2020"
Dear Potential Mentees,

Hi, thank you for your interest in the fabric-sdk-py project. Our current priority is to add features supporting Fabric 1.4.x. You can take a reference from nodejs/golang sdk (release-1.4). To make you more competitive in the application process, you are advised to make contributions to the codebase. You can fix typos/urls, report a bug, add a feature and other contributio

[2020-03-24 23:07] yeasy commented on #42
@dexhunter hopefully, we can finish the experimental support for HLF v2.0 too, if the intern program is 6-month.

[2020-03-26 19:28] Fierozen commented on #42
How far along is the "experimental support for HLF v2.0"? Is it in a particular branch? Is there a "roadmap" document about how it is developing? which features have been worked on?

[2020-03-27 05:23] #41 closed

[2020-03-27 05:30] yeasy commented on #42
We hope that sdk-py can support HLF v1.4 and v2.0 at the same time.
The HLF v1.4 supports (current work) will be mature enough for production usage, with enough test cases and documentations.

[2020-03-27 06:48] viragumathe5 commented on #40
I really want to contribute shall I start with it on documentation??

[2020-03-27 09:22] dexhunter commented on #40
@viragumathe5 yes! Please have a look

[2020-03-28 17:14] viragumathe5 commented on #40
Hi, I have made a PR to improve the documentation. @dexhunter would you please review it, please
https://github.com/hyperledger/fabric-sdk-py/pull/50
Thank You

[2020-03-29 04:03] Lucas-Wye opened #53 "Modify Makefile"
Currently, the `makefile` is not flexible if your system's python and pip is not define as `python3` and `pip3`

[2020-03-29 06:16] #53 closed

[2020-03-30 16:55] viragumathe5 commented on #42
Is the order and questions for the Cover Letter are fixed??
Can we add something extra like the process of execution of the project or rough timeline or ideas about the project etc. in the cover letter???

[2020-03-30 17:25] dexhunter commented on #40
Let me give an example,

[code]

 so at [client.py](https://github.com/hyperledger/fabric-sdk-py/blob/master/hfc/fabric/client.py#L2269-L2279) functions are documented in a Sphinx sylte,

[code]

While at [channel.py]() some functions are documented in a different style (Google Python Docstring).

So we need to make our documentation style coherent (all convert to Sphinx style) and add more explan

[2020-03-31 07:56] mothukuriv opened #56 "unable to use "first-network" network.json file with python sdk"
create org with name=Org1
create ca with name=ca.org1.fabricfl.com
No key path ('orderers',) exists in net info
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/viraajimothukuri/fabric-sdk-py/hfc/fabric/client.py", line 76, in __init__
    self.init_with_net_profile(net_profile)
  File "/Users/viraajimothukuri/fabric-sdk-py/hfc/fabric/client.py", line 116, in

[2020-03-31 08:02] RohanShrothrium commented on #56
Hey @mothukuriv!
Please checkout the format of the `network.json` file as mentioned in `test/fixtures/network.json`.
According to the error you are getting, I believe there are `orderers` has not been mentioned in your `network.json` file!

[2020-03-31 17:42] viragumathe5 commented on #40
@dexhunter as you asked me to do the link  based auto-documentation for that we need to increase the number of files like I was thinking the documentation
- Pre-requisites
- Creating your virtual environment

these are the links that will direct the user to other pages for that we need more files so will it be okay???

From separate files, we can also introduce more auto-generation of documentatio

[2020-03-31 18:29] dexhunter commented on #40
@viragumathe5 Hi, sorry but I don't really understand your question. I am not asking you to "do the link", I am asking help to improve current API documentation. Since we already have tons of APIs/functionalities, I think it will help potential mentees to understand py-sdk better by reading the source code and add some explanations. The links will be auto-generated by Sphinx framework so there is

[2020-03-31 19:15] viragumathe5 commented on #40
Yes yes, I am on but at the same time, you had mentioned something like "I want to clean up the documentation page for the easier navigation" on my PR so I am talking about it. I am about to complete the change so I will show the changes in my PR just give me a few minutes

[2020-04-02 06:17] dexhunter commented on #56
@mothukuriv Did you start docker services?

[2020-04-02 12:40] Dhiraj240 commented on #42
Can we get this project working on windows 8.1?

[2020-04-02 13:47] dexhunter commented on #42
If you can install docker on windows 8.1 you might have a chance to make it work.

[2020-04-02 13:48] dexhunter commented on #42
Can we add something extra like the process of execution of the project or rough timeline or ideas about the project etc. in the cover letter???

These are prerequisites, you need to ask at #mentorship-program of rocket chat.

[2020-04-08 06:44] viragumathe5 commented on #40
Hello, @dexhunter I am facing a problem while adding the documentation like where should I add it in documentation like by making some title for API documentation or just add it in tutorials or should I add examples for each and then write documentation ????
Would you please help me

[2020-04-08 06:46] viragumathe5 commented on #40
Like take an example for **crypto and vision** should I make a separate API documentation page or add it there straight or make some example and add docs ???

[2020-04-08 06:50] dexhunter commented on #40
You can add at source code.

On Wed, Apr 8, 2020, 2:46 PM Virag Umathe <notifications@github.com> wrote:

[2020-04-08 06:51] viragumathe5 commented on #40
Like by just commenting on it ???

[2020-04-08 06:55] viragumathe5 commented on #40
Ohhhhh I am sorry so API documentation is for the auto code generation. I  am sorry I just misunderstood the documentation. I am on ok

[2020-04-08 06:56] viragumathe5 commented on #40
Ohhhhh I am sorry so API documentation is for the auto doc generation. I am sorry I just misunderstood the documentation. I am on ok
I am proceeding with docstrings as mentioned.

Thank You for clearing that....

[2020-04-10 14:26] mothukuriv commented on #56
Sorry.. I didnt get notification for replies.... I m using network.json file which is auto generated by byfn.sh script in "first-network" folder.

[2020-04-16 13:42] viragumathe5 commented on #42
@dexhunter can we ask out project mentors to review our application???

[2020-04-16 14:33] viragumathe5 opened #62 "Add CODE_OF_CONDUCT.md file"
Add code of conduct for this repository plz take help of [this](https://wiki.hyperledger.org/display/HYP/Hyperledger+Code+of+Conduct)

[2020-04-16 15:43] viragumathe5 opened #63 "Python Coding Style should be improved for the fabric-sdk-py"
There must be a trace from Coding Guidelines for Fabric in Coding Style documentation

[2020-04-16 15:44] viragumathe5 commented on #63
@dexhunter if you think this issue is necessary I want to work on it
Will you please give me your views over this

[2020-04-17 04:54] mothukuriv commented on #56
yes ...

[2020-04-17 04:58] mothukuriv commented on #56
do we have any script which can generate network.json file ?
I have used the suggested one it is still failing with below error

Message: 'Failed to generate transaction file'
Arguments: (b'\x1b[34m2020-04-17 00:46:34.883 EDT [common.tools.configtxgen] main -> INFO 001\x1b[0m Loading configuration\n\x1b[34m2020-04-17 00:46:34.894 EDT [common.tools.configtxgen.localconfig] Load -> INFO 002\x1b[0m L

[2020-04-17 05:23] dexhunter commented on #56
You need to include binaries in the PATH

On Fri, Apr 17, 2020, 12:58 PM mothukuriv <notifications@github.com> wrote:

[2020-04-27 01:37] 846910027 opened #71 "When I use the CA server and enroll successfully locally, how can I use it next? For example, Query Peer installed chaincodes? Can you post the code for an example?"
When I use the CA server and enroll successfully locally, how can I use it next? For example, Query Peer installed chaincodes? Can you post the code for an example?

`from hfc.fabric_ca.caservice import ca_service
from hfc.fabric import Client

casvc = ca_service(target="http://192.168.1.106:7054")
adminEnrollment = casvc.enroll("admin", "adminpw") # now local will have the admin enrollment
secret

[2020-04-30 13:57] dexhunter commented on #71
You can check [this tutorial](https://fabric-sdk-py.readthedocs.io/en/latest/tutorial.html#query-informations) for querying peers

[2020-04-30 14:06] dexhunter commented on #62
We do have a [contributing guidelines](https://github.com/hyperledger/fabric-sdk-py/blob/master/CONTRIBUTING.md). I think this serves as code of conduct.

[2020-04-30 14:07] #62 closed

[2020-05-01 11:57] dexhunter commented on #71
I think the issue is resolved via email. Let me know if there are any more questions.

[2020-05-01 13:30] 846910027 commented on #71
当我创建了一个通道后，加入节点时报一下错误，这是为什么呢？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Dixing (Dex) Xu"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月1日(星期五) 晚上7:58
收件人:&nbsp;"hyperledger/fabric-sdk-py"<fabric-sdk-py@noreply.github.com&gt;;
抄送:&nbsp;"鱼魚漁"<846910027@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [hyperledger/fabric-sdk-py] When I use the CA server and enr

[2020-05-01 13:37] dexhunter commented on #71
hi, could you post the error log?
Kind regards,
Dixing (Dex) Xu

On Fri, May 1, 2020 at 9:31 PM 846910027 <notifications@github.com> wrote:

[2020-05-01 13:52] 846910027 commented on #71
where is the error log,please tell me the path

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Dixing (Dex) Xu"<notifications@github.com&gt;;
发送时间:&nbsp;2020年5月1日(星期五) 晚上9:37
收件人:&nbsp;"hyperledger/fabric-sdk-py"<fabric-sdk-py@noreply.github.com&gt;;
抄送:&nbsp;"鱼魚漁"<846910027@qq.com&gt;;"Author"<author@noreply.github.com&gt;;
主题:&nbsp;Re: [hyperledger/fabric-sdk-py] When I use the

[2020-05-01 13:56] 846910027 commented on #71
this is the response when i run my python，could it ok？
veneno@veneno-Q170-4S:~/sdk_test$ sudo python3 test111.py&nbsp;Init client with profile=./network.jsoncreate org with name=orderer.example.comcreate org with name=org1.example.comcreate org with name=org2.example.comcreate ca with name=ca-org1create ca with name=ca-org2Import orderers = dict_keys(['orderer.example.com', 'orderer2.example.com',

[2020-05-01 14:08] dexhunter commented on #71
This message is a bit messy, what I am seeing is `channel firsttest not existed when join False`, so did you create a channel named `firsttest`? What's the result of `cli._channels`?

[2020-05-01 14:16] 846910027 commented on #71
cli._channels is empty，but why is this？when i use cli docker bash，it response like this:
bash-5.0# peer channel list2020-05-01 13:19:25.715 UTC [channelCmd] InitCmdFactory -&gt; INFO 001 Endorser and orderer connections initializedChannels peers has joined:&nbsp;mychannel

and when i create new channel 'firstchannel' by using python,it tell me true but fail to get genesis block,like this:
_create_

[2020-05-01 15:07] dexhunter commented on #71
it might be caused by your configurations. But I am not sure. Are you using the example `network.json` or something else? Could you give a minimal example to replicate your error? Thanks

[2020-05-06 16:00] marcelloromani opened #75 "Support cert/private keys as string in connection profile"
The connection profile (`network.json`) supports specifying certs and private keys as a path.

Similarly to what the NodeJS sdk client provides (https://github.com/hyperledger/fabric-sdk-node/blob/master/test/fixtures/profiles/network.json#L49) it would be useful to allow specifying the certificates contents directly as strings, e.g.

[code]

[2020-05-07 16:31] dexhunter commented on #71
This issue was resolved by email

[2020-05-07 16:31] #71 closed

[2020-05-08 08:12] dexhunter opened #76 "local test failed for couchdbwalletstore"
For Azure pipelines, I've made an external service for couchdb, but locally the build will fail if I do not install couchdb manually. I think we should use a docker instance for a local couchdbwalletstore test as well.
![image](https://user-images.githubusercontent.com/6930518/81385540-125c5280-9146-11ea-86b8-0c21bb828877.png)

[2020-05-08 11:40] dexhunter commented on #76
cc @RohanShrothrium

[2020-05-08 19:01] RohanShrothrium commented on #76
We have included CouchDB in the `requirements.txt`. Shouldn't this be enough?
I think the port isn't open hence it is giving a `ConnectionRefused` error.

[2020-05-09 04:08] dexhunter commented on #76
This is only for python usage. You still need to start a coudb server instance.

[2020-05-09 06:41] RohanShrothrium commented on #76
Okay, I get it! So do you suggest installing CouchDB in the make file while installing or start an instance via docker?

[2020-05-09 07:29] dexhunter commented on #76
via docker

[2020-05-09 08:31] RohanShrothrium commented on #76
Okay will work on this!

[2020-05-10 14:52] dexhunter opened #78 "how to add another org through sdk?"
I got some requests on how to add another organization through sdk, I will check the issue and update the tutorial.

[2020-05-11 10:44] #76 closed

[2020-05-11 17:16] dexhunter commented on #78
A reference: https://hyperledger-fabric.readthedocs.io/en/release-2.0/channel_update_tutorial.html

[2020-05-11 17:47] Zircoz commented on #42
Was anyone selected for this program yet?

[2020-05-11 18:04] dexhunter commented on #42
@Zircoz Not yet. I will report top3 candidate list to Hyperledger around May.14th (May.15th is the deadline)

[2020-05-12 09:00] viragumathe5 commented on #63
I am sorry for late reply @dexhunter
fabric-sdk-py is the python SDK for fabric but for that, we have our python documentation available but there is no fabric documentation in the repository for coding style.
No, this is not at all related to the #40

[2020-05-12 09:29] dexhunter commented on #63
Hmm... Fabric and Fabric SDK are separated. For Fabric Documentation, you
will submit on a different repo. (hyperledger/fabric rather than
hyperledger/fabric-sdk-py)

On Tue, May 12, 2020, 5:00 PM Virag Umathe <notifications@github.com> wrote:

[2020-05-12 11:04] viragumathe5 commented on #63
ok

[2020-05-12 11:04] #63 closed

[2020-05-12 14:34] znss1989 opened #81 "Channel created fail"
Hello, I was following the tutorial of the Fabric Python SDK.

First I set up the network with the commands given.

[code]

Then I tried to create a channel and join a peer like the following.

[code]

But the response reported back is False. Really not sure about the cause and how to debug on the issue. Some help might be needed on how to correctly use the client to interact with the Fabric netwo

[2020-05-12 16:37] dexhunter commented on #81
Do you have configtxgen binaries in your PATH?

[2020-05-12 16:56] znss1989 commented on #81
Thank you for timely reply.
I guess no for the moment. Didn't see that in the instruction, I thought the docker images are all that are required.  Is there any suggested way to do that? Or should I install fabric and include all its binaries in the PATH?

[2020-05-12 17:01] dexhunter commented on #81
you need to include binaries in the PATH. For example, `export PATH=$PATH:$PWD/fabric-bin` at the `fabric-sdk-py` directory

[2020-05-12 17:29] znss1989 commented on #81
Yes, I found the `NOTE` now. And your suggestion works for me. Thanks for helping.

[2020-05-12 18:09] dexhunter commented on #81
great to hear, I am closing the issue now, let reopen or create a new issue if there are other problems. Thanks.

[2020-05-12 18:09] #81 closed

[2020-05-15 07:15] znss1989 opened #87 "Ask on chaincode install error"
Hi, I was trying to install some chaincode into a created channel, just as in the tutorial documentation.

[code]

But got the following report back.

[code]

Is there any further setup required? Or any other reasons that might cause such problems?

[2020-05-15 13:32] dexhunter commented on #87
it's caused by tarfile format which has been fixed at [this commit](https://github.com/hyperledger/fabric-sdk-py/commit/74b7e87ba7394bf393601f8974cfa6ad37f334c3). Please update to latest version

[2020-05-15 14:23] znss1989 commented on #87
I am using v0.8.1 of the SDK, I suppose that is the latest, right? And is Python3.8 a problem for this error?

[2020-05-15 14:39] dexhunter commented on #87
yep, there is some updates in python3.8 causing the problem. Can you just use the source code then? We will release a LTS version for supporting fabric 1.4.x soon

[2020-05-15 14:46] znss1989 commented on #87
OK, I will try to work around with source code, or use a different python version. Thanks for the help.

[2020-05-15 14:54] #87 closed

[2020-05-16 05:36] viragumathe5 commented on #42
Is the interview is not a compulsory task for all projects??
Like some participants are completed with their interview process while some are not???

[2020-05-16 18:34] #56 closed

[2020-05-17 12:43] 00Kai0 commented on #78
Does the python have this function? or need help to add this function?

[2020-05-17 13:34] dexhunter commented on #78
@00Kai0 I think all the parts are ready but there is no wrap-up function

[2020-05-17 13:55] 00Kai0 commented on #78
yeah, need a tutorial about it. Are you working on it?

[2020-05-17 14:08] dexhunter commented on #78
Not currently, I'm still writing my thesis. If depending on me, it will be June or July. So if anyone is available, feel free to pick this task up.

[2020-05-17 14:12] 00Kai0 commented on #78
Yeah, I want to do if I can. But I don't find any task list in jira.
Is it because the python sdk is too new? Is it still in preview?

[2020-05-17 14:15] dexhunter commented on #78
we migrate from jira to github issues now.

[2020-05-17 14:24] dexhunter commented on #78
But you can create an issue on jira as well if you want to. [Link here](https://jira.hyperledger.org/projects/FABP/issues)

[2020-05-17 14:26] 00Kai0 commented on #78
that's great, thank you

[2020-05-21 03:43] #42 closed

[2020-05-21 03:48] dexhunter opened #88 "release of LTS version 1.0.0 (supporting Fabric v1.4.x)"
Firstly, congratulations to @RohanShrothrium for being admitted to the mentorship program. Secondly, I am starting this issue to track which features of Fabric v1.4.x are still not implemented. Thirdly, after all reported missing features added, we will release fabric-sdk-py v1.0.0 as long-term support (LTS) version and start working on support for fabric 2.x

[2020-05-23 08:45] RohanShrothrium commented on #88
TODO for fabric-network:
Integrate wallet into the `Gateway` class
Include new classes `Contract` and `Transaction` for higher-level functions for invoking and querying
These are the features which have to be implemented before the release for Fabric v1.4.x

[2020-05-27 04:22] yeasy commented on #88
Cool!
After the v1.4 supporting is mature, we can continue for the new 2.x fabric, which is slightly changed from SDK side, especially on the chaincode lifecycle.

[2020-06-10 05:16] Ram-srini opened #89 "How to register for chain code event using custom filter like latest block"
How to register for chain code event starting from the latest block. Something like below
channel_event_hub.registerChaincodeEvent(CC_NAME, 'invoked', start='latest',
            onEvent=_event_handler);

Where 'latest' corresponds to latest block number.

Or else how do i get the latest block number using fabric python sdk so that i can pass the latest block number to registerChaincodeEvent()

[2020-06-10 05:19] Ram-srini commented on #89
@yeasy Please help to address this issue.

[2020-06-19 15:24] scmanjarrez opened #90 "Discovery service Peer TLS CA Cert problem"
Hi,
When I use fabric client discovery service, a gRPC channel is created for every peer in network using wrong TLS CA Cert because it is base64 encoded.

If I query Peer information, I get the following output:
[code]
The important information is in _tls_ca_certs_path, where is the TLS CA Cert in PEM format but encoded, so when util/channel:create_grpc_channel is called, it fails generating the s

[2020-06-22 17:13] yeasy commented on #90
I guess the question is because of using base64 encoded cert file.
Certainly you can try to decode the cert file if the direct reading fails.

[2020-06-23 03:10] dexhunter commented on #89
@Ram-srini A easy to find the number of block is through `query_info` function, you can find details [here](https://github.com/hyperledger/fabric-sdk-py/blob/master/docs/source/tutorial.md#41-basic-usage). For more advanced user, you can try to listen to an event hub and get the stream information. You can check the [`channel_eventhub.py`](https://github.com/hyperledger/fabric-sdk-py/blob/master/h

[2020-06-23 03:15] #89 closed

[2020-06-24 15:04] scmanjarrez commented on #90
I can't decode it myself because **client.py**:_init_with_discovery_ create the orderer/peer gRPC channel in **utils/channel.py**:_create_grpc_channel_ with the discovered data.
<details><summary> <b>client.py</b> and <b>orderer.py</b> </summary>

[code]
[code]
</details>
<details><summary> <b>client.py</b> and <b>peer.py</b> </summary>

[code]
[code]
</details>
I can't decode the certs manually a

[2020-06-29 15:44] kmehant opened #92 "Missing sample.py file from the docs folder"
I can see that `sample.py` file is missing from the `docs/` folder.
Similarly, the link is broken at the read-the-docs too.

[2020-06-29 15:46] kmehant commented on #92
@dexhunter it was added here eb536d7637e0e5119fe717220a72c3f7c4c3c2f3 Can I make the shift through a PR?

[2020-06-29 15:50] dexhunter commented on #92
@kmehant The sample code is removed on purpose due to out-of-date, but we can fix the broken link.

[2020-06-29 15:57] kmehant commented on #92
@dexhunter Shall we link to [e2e](https://github.com/hyperledger/fabric-sdk-py/blob/master/test/integration/e2e_test.py) test file in specific back as before or simply the complete test folder as a fix?

[2020-06-29 16:47] kmehant commented on #40
@dexhunter Can I work on converting the docstrings from google style to sphinx style.

[2020-06-29 17:06] dexhunter commented on #92
yep, I've created pr #93

[2020-06-29 17:06] dexhunter commented on #40
@kmehant  Sure, feel free to pick up the issue

[2020-07-01 12:13] dexhunter commented on #40
fixed at #94

[2020-07-01 12:13] #40 closed

[2020-07-01 12:13] #92 closed

[2020-07-06 12:15] biyaa opened #98 "when will the fabric-sdk-py support fabric v2.X ? Do you have any plan"

[2020-07-06 12:30] RohanShrothrium commented on #98
My understanding is that we are planning to release v1.0.0 of the SDK which is an LTS version for fabric v1.4.x by the end of July.
After the release of the v1.0.0, we'll work on the SDKs compatibility with fabric v2.X

[2020-07-24 06:05] varshaneya opened #101 "Unable to import Client in fabric-sdk-py version 0.9.0"
I am using the following system configuration:

1. Python version 3.7.7
2. fabric-sdk-py version **0.9.0 (built from source - master branch)**
3. Debian OS - Buster 10
4. grpcio version 1.20.1

While importing `Client` using this command `from hfc.fabric.client import Client`, I get the following error:
`ImportError: cannot import name '_MultiThreadedRendezvous' from 'grpc._channel' `

But when I

[2020-08-11 06:14] nkalichynskyi opened #103 "Channel config decoding issue"
Hi,
I'm having an issue with fetch of the config block for a channel, for some reason when fetching config block using python sdk config part `/channel_group/groups/Orderer/values/ConsensusType/value` doesn't have `metadata/consenters` field. It seems to be an issue with protobuf decoding because if I fetch application channel config without decoding everything is in place, but `get_channel_config

[2020-08-19 02:02] yyccli opened #107 "Annotation mistake in Tutorial.ipynb"
Hi
There is a little mistake in Tutorial.ipynb. Above block [5], the annotation says **Run the below code snippet to make the peers of Org1 join the channel.** Actually, block [5] adds peers of **Org2** into the channel.

:smiley:

[2020-08-20 09:28] dexhunter commented on #107
cc @RohanShrothrium

[2020-08-21 04:18] dexhunter opened #108 "testing with raft consensus"
add raft consensus at integration test

[2020-08-27 21:38] dexhunter commented on #107
solved #111

[2020-08-27 21:38] #107 closed

[2020-09-01 10:11] h0rs3fa11 opened #112 "Can the proxy to access the remote server be configured in the network.json file？"
If I want to access the remote server but only the proxy port is open, can the proxy be configured in the network.json file？

[2020-09-02 03:19] #112 closed

[2020-09-17 06:18] leptdre opened #116 "Unable invoke and query the chaincode through the Gateway"
I came through an issue where I want to evaluate a transaction in a chaincode, however, the code `fabric-sdk-py/hfc/fabric_network/contract.py` seems broken at the `evaluate_transaction` function:

[code]
The first issue is with the `channel3` variable which doesn't exist. The second issue is with `name`argument of the `evaluate_transaction` function which seems no not be used.
Could you please ch

[2020-09-17 08:40] RohanShrothrium commented on #116
The usage of the contract class for invocation can be found [https://github.com/hyperledger/fabric-sdk-py/blob/master/docs/source/tutorial.md](here).
Yes, I believe channel_name should be `self.network.channel` which is a typo.
Evaluate transaction is used for querying the ledger, for more details on how to use it you can check out the above link.
Hope this helps!

[2020-09-21 06:53] PetrMixayloff opened #117 "How to transfer or change an asset on the ledger?"
Hi, I'm studying hyperledger fabric and have read this [tutorial](https://fabric-sdk-py.readthedocs.io/en/latest/tutorial.html).
Can you tell what about exchanging assets? How can I do a new transaction in network?

[2020-09-25 14:38] btl5037 commented on #88
@dexhunter @yeasy Any update on the release of 1.0.0 LTS yet, and when work on 2.x might start?

[2020-09-25 18:29] dexhunter commented on #88
cc @RohanShrothrium

[2020-09-26 07:50] RohanShrothrium commented on #88
@btl5037 we have made the v1.0.0-beta version. We are working on porting all the test cases from solo ordering to raft and will make the release after that.

[2020-09-28 15:25] yeasy commented on #88
+1!

[2020-10-26 07:21] smallthing-hub opened #121 "fail to get genesis block"
My fabric-version is 2.0, python-version is 3.7.     How can I what to do? The fabric network is running.

Traceback (most recent call last):
  File "train.py", line 33, in <module>
    orderer='orderer.example.com'
  File "/usr/local/python3/lib/python3.7/asyncio/base_events.py", line 568, in run_until_complete
    return future.result()
  File "/usr/local/python3/lib/python3.7/site-packages/fabr

[2020-10-28 08:44] h0rs3fa11 commented on #117
You need to install and instantiate a chaincode, and invoke it to send a new transaction.

[2020-10-30 04:07] dexhunter commented on #121
@smallthing-hub Hi, I think the version is a problem currently, we haven't fully support Fabric v2.x

[2020-10-30 04:10] dexhunter commented on #108
#118 related

[2020-10-30 04:10] #108 closed

[2020-10-30 04:12] #98 closed

[2020-11-03 09:30] Macc679 opened #122 "Can I keep listening to channel events until the stop block generated?"
If the current block height is 10000, here is my code
[code]
the stop block is 10010, but the program is not going to wait, it will stop when there is no block.
How can I make the program to keep waiting until reach block 10010?

[2020-11-03 09:38] Macc679 commented on #122
I added the outer listening loop and the problem was solved

[2020-11-03 09:38] #122 closed

[2020-11-05 21:06] PetrMixayloff commented on #117
Thank you for answer. But it is not actual now for me. Since I asked question we have done this job on node js sdk. The official documentation turned out to be more understandable for me, even the fact that I don't know the node js very well

[2020-11-05 21:06] #117 closed

[2020-11-12 10:56] h0rs3fa11 opened #123 "Can the CA of the network profile become optional?"
Some test networks don't have the CA. To execute the SDK test, you must comment the code that loads the CA configuration first
[code]

[2020-12-11 04:07] dexhunter commented on #123
I think CA currently is optional. Some tests require CA configuration while some do not.

[2020-12-16 15:07] ZhangJingYi-O opened #129 "ModuleNotFoundError: No module named 'google'"
At present, I am studying fabric-sdk-py.According to the manual, I used
[code]
to pull the fabric-sdk-python in GitHub. Then,I downloaded pycharm in Ubuntu18.4 and imported the extracted fabric-sdk-py.I created test.py under this fabric-sdk-py, which I want to test create and join channel by sdk. But I compiled the following error：

[code]

I pulled it many times. and tried the following solutions

[2020-12-17 03:58] #129 closed

[2020-12-30 13:26] scmanjarrez commented on #90
Any update with this issue? I can send a PR with the changes needed, but I don't know which parts of the code use encoded certs and can break.

[2021-01-21 16:15] sfl0r3nz05 opened #131 "How can I retrieve user identity?"
Hi,

Following manual instructions I can create a user and store the identity in e.g., FileSystenWallet. However, I need to recover that identity in a different code location. I have tried:

`user1_cert = wallet.Identity("user1", user1Enrollment)._EnrollmentCert`, but it depends of `user1Enrollment `, so I get an error that the user has been registered.

`res = identityService.getOne('user1', admi

[2021-02-04 00:12] imperialguy opened #133 "Add support for trio"
Looks like the sdk currently supports asyncio. Is it possible to add support for [trio](https://github.com/python-trio/trio)? That would be very helpful for trio users.

[2021-02-05 06:42] DSSLab-code opened #134 "enroll admin error"
Hi, all!

I set all the environment locally and run the fabcar example in fabric_sample.
downloaded this python version sdk, run : adminEnrollment = casvc.enroll("admin","adminpw")

the error shows like: json.decoder.JSONDecodeError expecting value: line 1 column 1 (char 0)

I was blocked by this error for 2 days, if anyone knows why just let me know, many thanks!

Init client with profile=test/fi

[2021-02-05 07:11] DSSLab-code commented on #134
Well, if I use the internal example of up the fabric network, it works.
E.g run this: docker-compose -f test/fixtures/docker-compose-2orgs-4peers-tls.yaml up

[2021-02-23 21:44] harredon01 opened #135 "Problem creating channel in python tutorial"
Hello. I am having trouble running the python sdk example to create a channel with the default values. I have already added the binaries to my path, etc.

This is the code I am running within the fabric-sdk-py folder:
import asyncio
from hfc.fabric import Client
loop = asyncio.get_event_loop()

cli = Client(net_profile="test/fixtures/network.json")
print(cli.organizations)  # orgs in the network
p

[2021-03-25 03:31] dexhunter commented on #134
Which version of fabric & fabcar are you using?

[2021-03-25 03:32] dexhunter commented on #133
yep, we can support this later

[2021-03-25 03:35] dexhunter commented on #135
[code]
The error still looks like the binaries are not included

[2021-03-25 03:37] dexhunter opened #137 "fix rl-report issues"
The report is [here](https://github.com/ryjones/rl-report/blob/main/main/fabric-sdk-py-repolinter-report.md). We can add some files to fix the raised issues.

[2021-03-25 11:00] imperialguy commented on #133
Great. Do you have any timeline when it will be made available?

[2021-03-25 12:17] dexhunter commented on #133
Sorry but no timeline on my side, if you want the feature, you are welcome to contribute.

[2021-03-26 17:23] yeasy commented on #137
The fabric has done all changes: https://github.com/hyperledger/fabric.
We can follow the same principle.

[2021-04-13 09:43] xunmeibuyue opened #138 "Response of chaincode_invoke is empty"
Hello, I'm trying to use fabric-sdk-py to operate Chaincodes on my Fabric Network, but when I invoke chaincode I get an **empty response**.

First, I build my Fabric Network simply based on [first-network](https://github.com/hyperledger/fabric-samples/tree/release-1.4/first-network), **only replace the domain name `'example.com'` to `'srtp.com'`**. Then I follow the `Tutorial.ipynb` and `Tutorial.

[2021-04-17 06:23] xunmeibuyue commented on #138
This is my code：
[code]

[2021-04-23 09:19] jtyoui opened #139 "This page don't exits."
When I  click on link that `https://fabric-sdk-py.readthedocs.io/en/latest/test/fixtures/network.json` displaying don't exits.
It is link that come from `https://fabric-sdk-py.readthedocs.io/en/latest/tutorial.html` content in the website

[2021-04-25 05:38] xunmeibuyue commented on #138
I know where the problem is.

There is a **default param `fnc`** in function `chaincode_invoke` and `chaincode_query` .

[code]

**In Tutorial it does not set this param, and it was set to default value 'invoke' or 'query'.**

So everytime my chaincode invoke or query, **it gets the function name as 'invoke' or 'query', and does not find the function**, so it return empty.

Actually I **STRONGLY R

[2021-04-25 05:38] #138 closed

[2021-05-04 14:57] #139 closed

[2021-05-10 09:07] dexhunter opened #141 "2021 Mentorship Program"
Dear Potential Mentees,

Hi, thank you for your interest in the fabric-sdk-py project. Our current priority is to add features supporting Fabric 2.x, especially for the chaincode management. Feel free to check other open issues. To make you more competitive in the application process, **you are advised to make contributions to the codebase**. You can fix typos/URLs, report a bug, add a feature, an

[2021-05-15 07:09] shubhank-saxena opened #142 "Addition of pre-commit"
@dexhunter
Since this repo contains python code, I thought maybe we can have a sort of rule check in the form of pre-commit config, which can help us maintain the code quality before someone raises a PR. The already existing lint test configurations can be used for having a pre-commit.
If it's something that you feel we can add, please let me know. I can work on this!
Thank you!

[2021-05-15 08:22] dexhunter commented on #142
I think we already have this feature, you can check the config [here](https://github.com/hyperledger/fabric-sdk-py/blob/main/tox.ini)

[2021-05-18 06:14] #142 closed

[2021-05-18 14:53] #137 closed

[2021-05-19 07:22] dexhunter opened #146 "make check fails on wsl (windows subsystem for linux)"
I was trying to test the codebase and found that I was unable to execute the `make check` command due to the `$PATH` settings in wsl. The solution is found [there](https://github.com/microsoft/WSL/issues/1640#issuecomment-335034046)

[code]

[2021-05-19 07:23] #146 closed

[2021-05-25 11:10] #135 closed

[2021-05-25 11:11] #123 closed

[2021-05-25 11:11] #121 closed

[2021-05-25 11:12] #116 closed

[2021-06-06 07:38] #141 closed

[2021-06-29 06:30] dexhunter opened #153 "Update fabric-gateway module to fabric-rfcs"
[Fabric-rfcs](https://hyperledger.github.io/fabric-rfcs/text/0000-fabric-gateway.html) describes the Fabric Gateway Feature and we can build based on [the source code](https://github.com/hyperledger/fabric-gateway)

[2021-06-29 06:30] dexhunter commented on #153
cc @KivenChen

[2021-07-01 04:45] rranjan3 opened #154 "Build failure due to cryptography 3.4.7"
The farbic-py-sdk is unable to build on CentOS 8.0.
While processing dependencies for fabric-py-sdk==0.9.0, the build looks for cryptography>=1.9 and ends up on version 3.4.7. The corresponding setup.py throws a  error.

However at times it ends up on 2.1.4. Then the build goes through fine.

Logs below for the error scenario -

[2021-06-30T14:04:42.635Z] Searching for cryptography>=1.9
[2021-06-3

[2021-10-16 16:48] wuyuxuan2001 opened #157 "Request for help"
Hello, I have built and run the following code and an error has occurred, I hope you can answer it. (Code and error message below) Thank you very much
![image](https://user-images.githubusercontent.com/72484269/137595580-775e3113-3541-4fee-a1f0-e2db3135e53d.png)
![image](https://user-images.githubusercontent.com/72484269/137595604-5778121a-406b-49fc-9fc2-0e1c053fb0fb.png)

[2021-10-17 07:48] Critical-plus commented on #157
The full error message is shown in the two images below.
![image](https://user-images.githubusercontent.com/72484269/137617301-eafdd5d6-0724-4590-97b2-2fc4cd481961.png)
![image](https://user-images.githubusercontent.com/72484269/137617334-5db739af-8e6b-4479-afe3-5b4b941fc6d0.png)

[2022-02-18 12:59] JessKXWL opened #162 ""Missing 'proposalResponses' parameter in transaction request""
I recently started learning fabric and wrote [a small demo](https://github.com/JessKXWL/python-fabric-demo), but there were errors when uploading data using postman. When I upload the following data, the code will not make mistakes.But when the data I upload is 15M, an error will be reported,"Missing 'proposalResponses' parameter in transaction request"。[here is the data](https://github.com/JessKX

[2022-02-25 18:55] #131 closed

[2022-04-06 15:49] rcpurdue opened #163 "400 when invoking chaincode using tutorial"
Hi, I'm just trying to get the tutorial code running. It errors with  "response" of "400" when invoking the example chaincode.

I'm running on an Ubuntua 20.04 server. All of the containers seem to start up correctly. The "TLDR" quick test returns "...1 passed, 12 warnings...py3: commands succeeded...congratulations...".

My code, [tutorial.py](https://github.com/hyperledger/fabric-sdk-py/files/84

[2022-04-06 17:02] RohanShrothrium commented on #163
Hi @rcpurdue!
Do all the steps till invoking the chaincode work without any errors?

[2022-04-06 17:06] rcpurdue commented on #163
Hi RohanShrothrium! Yes, I think the previous steps work correctly. Here's the [full output](https://github.com/hyperledger/fabric-sdk-py/files/8428954/output.txt). Thank you for looking at this,   - Rob

[2022-04-06 17:47] RohanShrothrium commented on #163
Hi @rcpurdue!
The chaincode response is `400` so it isn't the error.
The error is thrown at the upgrade stage, this error is thrown as the current chaincode is at v1.0 and you are trying to update it as you can see in your error log that says `RuntimeError: version already exists for chaincode with name 'example_cc'`.

[2022-04-06 19:11] rcpurdue commented on #163
Hi @RohanShrothrium,
Doh! I see now - the "400" isn't an error code. It is the result of 'b' having 300 and 'a' contributing 100. How embarrassing! Thank you so much for your help. I won't worry about the upgrade error as I'm more interested in chaincode invocation and query.  Thanks again,  - Rob

[2022-04-06 19:11] #163 closed

[2022-05-12 11:59] Creazy-MR opened #165 ""configtxgen not in PATH. Configtx is empty" if anyone can help me? thanks"
when i test the SDK linke this: tox -e py3 -- test/integration/e2e_test.py
i have a error:

E2E testing started...
New channel with name = testchainid
E2E: Get channel testchainid config start
E2E: Get channel testchainid config done
E2E: Channel creation start: name=businesschannel
configtxgen not in PATH.
Configtx is empty
tear down
F

my configtxgen have been setting in gopath, i need help ,thx

[2022-05-12 21:33] yeasy commented on #165
Install steps are at https://hlf.readthedocs.io/en/release-2.2/install.html.

[2022-05-12 21:33] #165 closed

[2022-05-13 00:23] Creazy-MR commented on #165
@yeasy thak you very much

[2022-05-13 01:40] Creazy-MR commented on #165
@yeasy  Dear developer, thanks your help, but i have join the configtxgen to the PATH, it still not work, i will  try to re-install it,thank you agin!
![error2](https://user-images.githubusercontent.com/59354418/168194340-2928bc60-2d3f-4d84-8d64-c10c9e5aae96.png)

[2022-05-13 05:30] Creazy-MR commented on #165
@yeasy Dear developer,i have re-install the Fabric to v2.2, and setting the bin to the PATH,but it still didn‘t work , I am very distressed. thanks for your advices and helps！
![image](https://user-images.githubusercontent.com/59354418/168217332-19fa9714-1c3b-4672-af10-18495c6d55e2.png)

[2022-05-13 06:33] Creazy-MR commented on #81
@znss1989  Dear Author ,i also have this problem when i try to run a test in fabric-sdk-py directory:
![error2](https://user-images.githubusercontent.com/59354418/168224937-765af61b-6e6a-47d4-a9ae-8bb7a179617f.png)
i have join the binaries in the PATH , bashrc:
how can i do,thank you!

[2022-05-13 09:25] Creazy-MR commented on #165
![image](https://user-images.githubusercontent.com/59354418/168253379-b93ca1a8-0384-4142-8022-c2ef96cfa1bf.png)
Thanks for timely reply，dear professor an developer，i finally find in my fabric-sdk-py/hfc/fabric/client.py ,shutil.which()can not find the configtxgen,but i have add it to my PATH. i still don't kown why.

[2022-05-13 09:26] Creazy-MR commented on #165
Thanks for timely reply，dear professor an developer，i finally find in my fabric-sdk-py/hfc/fabric/client.py ,shutil.which()can not find the configtxgen,but i have add it to my PATH. i still don't kown why.
![image](https://user-images.githubusercontent.com/59354418/168254234-5ea33e10-67cb-450d-952a-97e66d7c4a95.png)

[2022-05-13 10:20] Creazy-MR commented on #165
when i try to setting  os.environ["PATH"]='<mybash path>',it work! but i still have this error:
![image](https://user-images.githubusercontent.com/59354418/168264056-5307dcea-2ebf-45c8-8e11-377d49fb9080.png)

[2022-05-13 10:22] Creazy-MR commented on #165
i don't know why its always set up a 1.4.6 peer..........
![image](https://user-images.githubusercontent.com/59354418/168264324-4e4460eb-0359-420f-80c6-2a45b38180f0.png)

[2022-05-16 07:56] Creazy-MR opened #166 "dear developer, if i want orderer node to do more tasks,what should i do ,thanks!"
Dear developer:
      thanks for your efforts on this Python SDK.recently,i want use Fabric Python SDK to do more applications. but i need orderer nodes to  do more tasks before committing the block to the world state. How can i do with Python SDK,.

[2022-05-17 20:52] yeasy commented on #166
The orderer logic is in the fabric repo: https://github.com/hyperledger/fabric/. You may take a look at the code there.

[2022-05-17 20:52] #166 closed

[2022-05-17 23:55] Creazy-MR commented on #166
@yeasy thanks!

[2022-05-28 03:11] Creazy-MR commented on #162
i also have this problem , if any one can help me? thanks

[2022-05-28 03:35] Creazy-MR commented on #162
when i try to send a more large args, it have this issue

[2022-05-28 05:05] Creazy-MR commented on #162
@JessKXWL  Dear friends, how did you deal this problem later?

[2022-05-28 05:43] Creazy-MR opened #168 "when i sent a long string as an args，error:"Missing 'proposalResponses' parameter in transaction request""
when i sent a model train parameters as json string, i hand an error:
![image](https://user-images.githubusercontent.com/59354418/170811862-4e4f2037-18ac-4077-8316-3e0de3aedd80.png)
how can i send a larger args,thanks! this problem is very necessary.thanks！

[2022-05-28 10:46] JessKXWL commented on #162
I didn't solve this problem, but later I tried to find out the limit. It's OK to upload data below 4M. The maximum data transmitted by the gossip protocol is also 4M, so I think it's related to the gossip protocol. However, there will still be errors when modifying the maximum data transmitted by the gossip protocol. It may be that I changed the wrong place

[2022-05-28 11:08] Creazy-MR commented on #162
@JessKXWL ,thank you very much! i will try to have a look on it , this problem is really Strange

[2022-05-29 02:32] #168 closed

[2022-05-30 13:00] saikumar-neelam commented on #162
@JessKXWL : Check the network.json, verify the peer endpoints configured are correct or not.

[2022-06-11 08:27] Creazy-MR opened #169 "Dear developer，Is this an issue? thanks"
Dear developer,when i run the  lifecycle_test.py，everything is OK，the test has complete，but here are some logs like a warning.
"No config file found",
"localHost :NONE"
I don't know where I'm going wrong,........thanks!

![image](https://user-images.githubusercontent.com/59354418/173180082-7ef5a901-79ea-44e4-949d-371163f1a67d.png)

[2022-06-11 08:29] Creazy-MR commented on #169
Here is the needed file:
![image](https://user-images.githubusercontent.com/59354418/173180131-4b6c44c0-8da0-496d-a7e4-874d8fe9dbca.png)

[2022-06-21 22:03] ryjones opened #170 "pip-audit shows issues"
pip-audit found one or more problems

Name         Version ID                  Fix Versions Description
------------ ------- ------------------- ------------ --------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[2022-06-24 22:25] yeasy commented on #154
Would suggest specify a lower version of cryptography.
We have not tested with CentOS 8.0 yet.
Anyone has such an OS to give it a try? Let me know, thanks!

[2022-06-28 06:28] zd398900463 opened #172 "error"
why info me: not find the configtxgen and the configtx is empty? Can I use this in WinSYS?
[code]

[2022-07-19 11:47] famakinolawole opened #174 "Unable to create and join a channel correctly in hyper ledger fabric using python"
Hello I am working on a thesis project based on block chain tech. I am developing using Hyperledger fabric python language.

based on this documentation : https://fabric-sdk-py.readthedocs.io/en/latest/tutorial.html

Basically i have been able to :

    start my fabric network
    Create connection profile
    start ca instance server
    Create users
    revoke users based on certificates

Now I

[2022-07-20 19:06] #174 closed

[2022-09-13 01:01] rzechen opened #176 "When will fabric latest be supported？"
When will fabric latest be supported？

[2022-09-13 14:24] woodruffw opened #177 "Notice: trailofbits/gh-action-pip-audit is now pypa/gh-action-pip-audit"
Thanks for using `gh-action-pip-audit` in your CI!

I'm filing this issue (as an actual human being) to let you know that we recently became a PyPA member project, and correspondingly changed our repo from [`trailofbits/gh-action-pip-audit`](https://github.com/trailofbits/gh-action-pip-audit) to [`pypa/gh-action-pip-audit`](https://github.com/pypa/gh-action-pip-audit).

As part of keeping your wor